
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgb(2, 0, 36);
  /* background-image: url('C:\react\login\public\work-1.jpg'); */
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(30, 54, 59, 1) 0%,
    rgba(93, 93, 116, 1) 100%
  );
}


/* App.css */
/* Update the styles for the outer container with image background */
.outer-container {
  /* background-image: url('C:\react\login\public\work-1.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
   margin-left:680px; 
  height: 120vh; /* Set the height to cover the full height of the viewport */
  display: flex;
  justify-content: flex-start; /* Shift both the outer and inner containers to the left */
  align-items: center; /* Center vertically */
  padding-left: 100px; /* Add padding on the left side to shift both containers to the left */
}

/* Update the .container styles */


/* Update the .container styles */
.container {
  width: 80%; /* Set the width to 80% of the outer container */
  max-width: 400px;
 
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px; /* Add some padding to the container */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  /* margin-left:850px; */
  max-width: 500px;
  
  width: 100%;
  margin: auto;
  padding: auto;
}
.container > form p {
  color: red;
  margin-top: 5px;
}

/* Form styles */
.container > form {
  width: 80%;
  border: 2px solid #ddd;
  padding: 30px;
  border-radius: 10px;
  background: #f9f9f9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.container > form label {
  color: #333;
  font-weight: bold;
}

.container > form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
  color: #333;
  width: 100%;
}

.container > form button {
  background: linear-gradient(to right, #0563b4, #03447b);
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.container > form button:hover {
  background: linear-gradient(to right, #03447b, #0563b4);
}

.container > form .error {
  color:red;
  margin-top: 5px;
}

.container > form > * {
  margin-bottom: 15px;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}

